body{
    background:red;
}
*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{

    background-color: rgb(255, 255, 255);
}
nav{
    display:flex;
    
    position:fixed;

    justify-content: space-between;
    padding-top:2%;
    padding-left:7.5%;
    padding-right:7.5%;
    padding-bottom: 2%;
    align-items: center;
    align-content: center;
    font-size: 108%;
     
     background-color: white;

     width:100%;
}
nav ul{
    list-style: none;
    display: flex;
    margin-left:15%;
}
nav ul a{
    text-decoration: none;
    
    width: 10%;
    color: black;
}
nav ul li{
    padding:6px 25px;
    border-radius: 5px;
}
nav ul li:hover{
    padding:6px 25px;
    background:rgb(248, 248, 248);
}

#logo-monitor{
    width:160px;
    cursor: pointer;
}
#icon-entrar{
    display: none;
    width:50px;
    cursor: pointer;
}
.nav-menu{
    display: none;

}
#nav-entrar{
    background-color:#3DC9C4;
    color: white;
    border:none;
    width:80px;
    height:33px;
    font-size: 102%;
    cursor: pointer;
    margin-left:5%;
}
#nav-cadastro{
    background-color:#3DC9C4;
    color: white;
    border:none;
    width:110px;
    height:33px;
    font-size: 102%;
    cursor: pointer;
}
.hamburger{
    width:33px;
    height:33px;
    display:none;
    border-radius: 10%;
    position:relative;
    cursor: pointer;
}
.hamburger:after{
    content:'';
    position:absolute;
    top:30%;
    left:15%;
    width:70%;
    height:10%;
    border-radius:20px;
    background-color: rgb(0, 0, 0);
    transition: 1s ease;
}
.hamburger:before{
    content:'';
    position:absolute;
    top:60%;
    left:15%;
    width:70%;
    height:10%;
    border-radius:20px;
    background-color: rgb(0, 0, 0);
    transition: 1s ease;
}
#hamburger:checked ~ label .hamburger:after{
    transform: rotate(225deg);
    top:45%;
}
#hamburger:checked ~ label .hamburger:before{
    transform: rotate(-405deg);
    width:70%;
    top:45%;
}
@media(max-width:1194px){
    nav ul{
        margin-left:10%;
    }
    #nav-entrar{
        margin-left: 0;
    }
}
@media(max-width:1100px){
    nav ul{
        margin-left:2%;
    }
}
@media(max-width:980px){
    #nav-entrar{
        display: none;
    }
    #nav-cadastro{
        display: none;
    }
    #icon-entrar{
        display: block;
    }
}
@media(max-width:830px){
    nav{
        padding-left:11%;
        
    }
    .nav-menu{
        display: block;
    }
    
    #nav-entrar{
        display: none;
    }
    #nav-cadastro{
        display: none;
    }
    #icon-entrar{
        display: block;
    }
    .buttons-lc{
        display: none;
    }
    .hamburger{
        display:block;
    }
    nav ul{
        position:fixed;
        width: 40%;
        height:100vh;
        background:#ffffff;
        top:80px;
        
        left:-110%;
        text-align:center;
        transition: all .1s;
        display: block;
        border-bottom: 1px solid black;
        border-right: 1px solid rgb(223, 221, 221);
        border-top: white;
        

    }
    nav ul li{
        display: block;
        margin:px 0;
        line-height: 64px;
        background-color: rgb(255, 255, 255);
        border: 0.001px solid rgb(235, 235, 235);

    }
   
    nav ul li:hover{
        
        background-color: rgb(245, 243, 243);
        

    }
    nav ul li a{
        font-size:15px;
    }
    a:active, a:hover{
        background:none;
        color:rgb(43, 42, 42);
    }
    #hamburger:checked ~ ul{
        
        left:-2%;
    }
}
@media(max-width:768px){
    nav ul{
        margin-left:2%;
    }
    nav ul li{
        padding:0px 18px;
    }
}
@media(max-width:714px){
    nav ul{
        top:77px;
    }
}
@media(max-width:590px){
    nav ul{
        top:70px;
        width: 50%;
    }
    #logo-monitor{
        width:130px;
        cursor: pointer;
    }
}
@media(max-width:490px){
    nav ul{
        top:67px;
        width:55%;
    }
}
@media(max-width:430px){
    nav ul{
        top:67px;
        width:70%;
    }
}
