<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/cadastro.css">
    <link rel="stylesheet" href="assets/css/Nav-scadastro.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    
    <title>Cadastro</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <input id="hamburger"type="checkbox" style="display:none">
            <label for="hamburger">
                <div class="hamburger"></div>
            </label>
            
            <img id="logo-monitor"src="assets/img/logo.png">
            <ul>
                
                <li href="#"><a href="#">ASILOS/CASAS DE REPOUSO</a></li>
                <li><a href="#">CUIDADORES</a></li>
                <li class="nav-menu"><a href="#">SOBRE NÓS</a></li>
                <li class="nav-menu"><a href="#">CONTATE-NOS</a></li>
                <li class="nav-menu"><a href="#">FAQ</a></li>
                
                
                
              
            </ul>
            <a  href="login.html"><img id="icon-entrar"src="assets/img/login.png"></a>
            
            <a class="buttons-lc" href="login.html"><button id="nav-entrar">LOGIN</button></a>
            <a class="buttons-lc" href="cadastro.html"><button id="nav-cadastro">CADASTRO</button></a>
            

        </nav></header>
    
</body>
</html>