<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/nav-comCadastro.css">
    <link rel="stylesheet" href="assets/css/cliente-perfil-cuidador.css">
    <link rel="stylesheet" href="assets/css/form.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <input id="hamburger" type="checkbox" style="display: none" />
            <label for="hamburger">
                <div class="hamburger"></div>
            </label>
            <a href="../"><img id="logo-monitor" src="https://cdn.glitch.global/bcdafbd3-05af-45a7-8f68-a12a50835e89/logo.png?v=1645195527997" /></a>
            <ul>
                <li href="#"><a href="./locais.php">ASILOS/CASAS DE REPOUSO</a></li>
                <li><a href="./cuidadores.php">CUIDADORES</a></li>
                <li><a href="../">HOME</a></li>
                <li class="nav-menu"><a href="#">SOBRE NÓS</a></li>
                <li class="nav-menu"><a href="#">CONTATE-NOS</a></li>
                <li class="nav-menu"><a href="#">FAQ</a></li>
            </ul>
            <img id="icon-entrar"/>
        </nav>
    </header>
    <div class="modal-icon">
        <div class="modal-icon-header">
            <img>
            <ul>
                <li>Nome de usuario</li>
                <li>cesarmanciosilva@gmail.com</li>
            </ul>
        </div>
    </div>
    <div class="espaçamento">.</div>

<!--modal form caralho-->
    <div class="esfumaçado1">
        <div class="modal-form">
            <!--header do formulario-->
            <div class="header-form">
                <h2>Descrição do pedido</h2>
                <img onclick="sairForm()" src="assets/img/Équis.png" alt="">
            </div>
            <!--header fim-->

            <!--conteudo do modal-->
            <div class="content-modal">
                <form id="form-pedido"action="">

                <div class="etapa-um">
                        <h3>Preencha os campos de acordo com seu pedido</h3>
                        <div class="quebra-input-div">
                            <div calss="quebra-input">
                                <label for="nome-form"><b>Nome do paciente</b></label>
                                <input id="nome-form" type="text">
                            </div>
                            <div id="espaço-form"class="quebra-input">
                                <label for="idade-form"><b>Idade</b></label>
                                <input id="idade-form" type="number">
                            </div>
                        </div>

                        <div class="quebra-input-div">
                            <div calss="quebra-input">
                                <label for="endereço-form"><b>Endereço do local</b></label>
                                <input id="endereço-form" type="text">
                            </div>
                            <div id="espaço-form" class="quebra-input">
                                    <label for="cidade-form"><b>Cidade</b></label>
                                    <select name="" id="cidade-form" form="">
                                        <option value="São Vicente">São Vicente</option>
                                        <option value="Santos">Santos</option>
                                    </select>
                            </div>
                                
                        </div>

                        <div class="quebra-input-div">
                                <div calss="quebra-input">
                                    <label for="bairro-form"><b>Bairro</b></label>
                                    <input id="bairro-form" type="text">
                                </div>
                                <div id="espaço-form"class="quebra-input">
                                        <label for="idade-form"><b>Número residencial</b></label>
                                        <input id="numero-form" type="number">
                                </div>
                                    
                        </div>
                        <label for="story"><b>Informações adicionais:</b></label>
                        <textarea id="story" name="story" placeholder="(banho, comida, remedios, acompanhamento, rotinas,etc.)"></textarea>
                        <span>Existem campos não preenchidos</span>

                        
                        
                </div>
                <input type="submit" id="submit1" style="display:none;">
                </form>
                
                
                

            </div>
            <!--fim do conteudo do modal-->

            <div class="footer-form">
                <label class="btnEnviar"for="submit1">Enviar pedido</label>
            </div>

        </div>
        <!--modal form caralho fim--> 
    </div>

    <div class="esfumaçado2">
         <!--dununcia form-->
         <div class="modal-form-denuncia">
                <div class="header-form-denuncia">
                        <h2>Descrição da denuncia</h2>
                        <img onclick="sairForm()" src="assets/img/Équis.png" alt="">
                    </div>
                    <div class="content-modal-denuncia">
                            <form id="form-denuncia"action="">

                                <div class="quebra-input-div-denuncia">
                                    <input  class="caixa-check" id="abuso-verbal" name="motivo"type="checkbox">
                                    <label class="caixa-label"for="abuso-verbal">Abuso verbal em chat</label>
                                </div>
                                <div class="quebra-input-div-denuncia">
                                        <input  class="caixa-check" id="violencia-idoso" name="motivo"type="checkbox">
                                        <label class="caixa-label"for="violencia-idoso">Violencia contra idoso</label>
                                </div>
                                <div class="quebra-input-div-denuncia">
                                        <input  class="caixa-check" id="ameaças" name="motivo"type="checkbox">
                                        <label class="caixa-label"for="ameaças">Ameaças</label>
                                </div>
                                <div class="quebra-input-div-denuncia">
                                        <input class="caixa-check"id="Outro-motivo" name="motivo"type="checkbox">
                                        <label class="caixa-label"for="Outro-motivo">Outro motivo</label>
                                </div>

                                <label id="desc-label"for="story"><b>Descrição da denúncia:</b></label>
                                <textarea id="story" name="story" placeholder="(banho, comida, remedios, acompanhamento, rotinas,etc.)"></textarea>
                                <span>Existem campos não preenchidos</span>

                            <input type="submit" id="submit2" style="display:none;">
                            </form>
            
                        </div>
                        <!--fim do conteudo do modal-->
                <div class="footer-form">
                        <label class="btnEnviar"for="submit2">Enviar denuncia</label>
                </div>
            </div>

        </div>
        <!--fim denuncia form-->
    </div>
        
    <div class="content">
        <div class="header-cuid">
            <div class="left-nav">
                <div class="header-left">
                    <img>
                      <ul>
                          <li class="Nome-header"><b>Nome de Usuário </b></li>
                          <li class="formação-header">Técnico Enfermagem, Cuidador</li>
                          <li>Disponivel</li>
                      </ul>
                </div>
                <ul class="button-left">
                    <li><button onclick="abrirForm()">Solicitar Serviço</button></li>
                    <li><button>Ver Certificação</button></li>
                </ul>
                
                
            </div>
            <div class="right-nav">
                <ul>
                    <li>email@email.com</li>
                    <li>Santos - SP</li>
                </ul>
            </div>
        </div>
    
        <div class="feedback-div">
            <div class="aval-div">
                <div class="card-aval">
                    <h2>Avaliações</h2>
                    <hr>
                    <div class="star-div">
                        <img src="assets/img/starCheia.png">
                        <div class="media-div">
                            <div class="media">4.2</div>
                            <br>
                            <div class="qnt-media">+99 avaliações</div>
                        </div>
                    </div>
                    
                </div>
                <hr>
                <p onclick="abrirDenuncia()"class="btnDenunciar">Denunciar perfil</p>
                
            </div>
    
    
            <div class="coment-div">
                <h2>Comentarios de clientes</h2>
                <hr></hr>
                <div class="scroll-card-div">
    
                  <div class="comment-card">
                    <div class="header-comment">
                        <img>
                        <ul>
                            <li><b>Nome de Usuário</b></li>
                            <li style="color:gray;">22 de agosto de 2022</li>
                        </ul>
                        <span>Santos - SP</span>
                    </div>
                   <div class="comment-txt-div">Lorem ipsum maecenas senectus eleifend, viverra inceptos aptent quisque, sed egestas euismod. volutpat convallis morbi taciti eu porttitor porta ac augue etiam leo habitasse semper lorem, sem mollis ante integer pretium proin tellus primis et velit aliquet mi.</div>
                   <hr>
                  </div>
                  <div class="comment-card">
                          <div class="header-comment">
                              <img>
                              <ul>
                                  <li><b>Nome de Usuário</b></li>
                                  <li style="color:gray;">22 de agosto de 2022</li>
                              </ul>
                              <span>Santos - SP</span>
                          </div>
                         <div class="comment-txt-div">Lorem ipsum maecenas senectus eleifend, viverra inceptos aptent quisque, sed egestas euismod. volutpat convallis morbi taciti eu porttitor porta ac augue etiam leo habitasse semper lorem, sem mollis ante integer pretium proin tellus primis et velit aliquet mi.</div>
                         <hr>
                        </div>
                  
    
                  
                  
                </div>
               
                 
    
    
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <img src="assets/img/logo.png" />
            </div>
            <div class="footer-col">
              <h4>Navegação</h4>
              <ul>
                <li><a href="#">Asilos</a></li>
                <li><a href="#">Casas de repouso</a></li>
                <li><a href="#">Cuidadores</a></li>
                <li><a href="#">Doações</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Desenvolvedores</h4>
              <ul>
                <li><a href="View/sobre1.html">Sobre nós</a></li>
                <li><a href="View/contato.html">Contate-nos</a></li>
                <li><a href="#">Instituição</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Redes sociais</h4>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="scripts/cliente-perfil-cuidador.js"></script>
    <script src="scripts/icone-modal.js"></script>
</body>
</html>
