<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/nav-comCadastro.css">
    
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <input id="hamburger" type="checkbox" style="display: none" />
            <label for="hamburger">
                <div class="hamburger"></div>
            </label>
            <a href="../"><img id="logo-monitor" src="https://cdn.glitch.global/bcdafbd3-05af-45a7-8f68-a12a50835e89/logo.png?v=1645195527997" /></a>
            <ul>
                <li href="#">ASILOS/CASAS DE REPOUSO</li>
                <li href="#">CUIDADORES</li>
                <li href="#">CHAT</li>
                <li href="#" class="nav-menu">SOBRE NÓS</li>
                <li href="#" class="nav-menu">CONTATE-NOS</li>
                <li href="#" class="nav-menu">FAQ</li>
            </ul>
            <img id="icon-entrar"/>
        </nav>
    </header>
    <div class="modal-icon">
        <div class="modal-icon-header">
            <img>
            <ul>
                <li class="nome-modal">César Mâncio Silva</li>
                <li class="email-modal">cesarmanciosilva@gmail.com</li>
            </ul>
        </div>
        <hr>
        <ul class="nav-modal">
            <li>Perfil</li>
            <li>Serviços</li>
            <li>Ajuda</li>
        </ul>
        <hr>
        <button>Sair</button>
    </div>
    <script src="scripts/cliente-perfil-cuidador.js"></script>
    <script src="scripts/icone-modal.js"></script>

</body>
</html>
