*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image:url('../img/fundo-login.png');
    background-size: cover;
    background-repeat: no-repeat, repeat;
    
    
}
nav{
    background: transparent;
}
#nav-entrar{
    background-color:transparent;
    color: #3DC9C4;
    border:2px solid #3DC9C4;
    
}

#main{
    width: 35%;
    height: 68%;   
    position:absolute;
    left:50%;
    top:60%;
    transform:translate(-50%,-50%);
   
}
#main.on{
    display: none;
}
.input-style{
    width: 100%;
    height: 57px;
    margin-top: 5%;
    border-radius: 10px;
    border:none;
    background-color: #D9F5F4 ;
    padding: 12px 20px;

  box-sizing: border-box;
  font-size: 20px;
  color:black;
}
.input-style:focus{
    border:none;

}
input[type=submit]{
    width: 100%;
    height: 57px;
    margin-top: 5%;
    border-radius: 10px;
    border:none;
    background-color: #3DC9C4;
    color:white;
    font-size: 30px;
}
h2{
    margin-top: 5%;
    color:rgb(133, 133, 133);
}
a{
    
    color:#3DC9C4;
    text-decoration: none;
}
#linha{
    width:90%;
    height:2px;
    margin-left:5%;
    margin-top: 5%;
    background-color: rgb(133, 133, 133);
}
#main button{
    width:100%;
    height:57px;
    margin-top: 5%;
    background-color: white;
    border-radius:10px;
}
#main h2{
    margin-left: 6%;
}
#nav-entrar{
    margin-left:0;
}

@media(max-width:1210px){
    #nav-entrar{
       display: none;
    }
    #main{
        width: 45%;
       
       
    }
    body{
        background: none;
    }
    
    

}
@media(max-width:1000px){
    h1{
        font-size: 160%;
    }
    h2{
        font-size: 125%;
    }

}
@media(max-width:980px){
    #icon-entrar{
        display: block;
    }

}
@media(max-width:950px){
    body{
        background:none;
        
    }
}
@media(max-width:830px){
    .hamburger{
        display: BLOCK;
    }
    
    
    #main{
        width: 55%;
       
       
    }
}
@media(max-width:700px){
    #main{
        width:70%;
    }
}
@media(max-width:550px){
    #main{
        width:80%;
    }
}
@media(max-width:450px){
    h1{
        font-size: 170%;
    }
    h2{
        padding-left:2%;
        font-size:90%;
    }
    #main{
        top:65%;
    }
    .input-style{
        width: 100%;
        height: 50px;
        margin-top: 5%;
        border-radius: 10px;
        border:none;
        background-color: #D9F5F4 ;
        padding: 12px 20px;
    
      box-sizing: border-box;
      font-size: 20px;
      color:black;
    }
    .input-style:focus{
        border:none;
    
    }
    input[type=submit]{
        width: 100%;
        height: 50px;
        margin-top: 5%;
        border-radius: 10px;
        border:none;
        background-color: #3DC9C4;
        color:white;
        font-size: 25px;
    }

}
@media(max-width:430px){
    body{
        background-image: url("../img/login-mobile-fundo.png");
        background-size: cover;
    }
}